.container{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	.content{
		box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;	
		padding: 3rem;	
		border-radius: 10px;
		form{
			width: 100%;
		}
		input{
			border: 0;
			width: 35vw;
			height: 3rem;
			margin: 0 1rem;
			border-radius:10px;
			padding: 0 0.5em;
			font-size: 1em;
			background-color: #F2F2F2;
		}
		button{
			background-color: #F2F2F2;
			color: #000;
			border: 0;
			padding: 0 2em;
			height: 3rem;
			border-radius:10px;
			cursor: pointer;
		
		}
		.show{
			padding: 2rem 0 0 0;

			a{
				color: #000;
			}
		}
		.copy{
			background-color: rgba(255, 255, 255, 0);
			margin: 0 1rem;
			font-size: .7rem;
			border: 1px dashed hsl(0, 0%, 75%);
			padding: .2rem;
			height: unset;
			border-radius: 0;
		}
	}
}

@media (max-width: 720px) {
  form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	input{
		margin: 1em 0.5em;
		width: 90vw;
	}
	button{
		margin: 3em 0 0 0;
	}

}
	